h1 {
    background-color: teal;
    font-family: serif;
    font-size: 5em;
}

tr,
td {
    border: 1px solid black;
}

table {
    border-style: none;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 18px;
}

td {
    width: 20px;
}