h1 {
    background-color: teal;
    font-family: serif;
    font-size: 5em;
}

tr,
td {
    border: 1px solid black;
    border-radius: 10%;
}

table {
    border-style: none;
    margin: 0 auto;

}

tr {
    height: 18px;
}

td {
    width: 20px;
}

.numBox, .plusBox{
    border-style: none;
    text-align: center;
    font-family: sans-serif;
}